# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# Build outputs
dist/
build/

# IDEs and editors
.idea/
.vscode/
.vite/
*.swp
*.swo
.DS_Store

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite
*.local

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional Stylelint cache
.stylelintcache

# Optional coverage directory
coverage/

# Next.js (if applicable in future)
.next/
out/
/.ai
/.agents
/.junie
.firebase/hosting.ZGlzdA.cache
