.summary-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.summary-cards .card.balance {
  grid-column: span 2;
}

@media (max-width: 600px) {
  .summary-cards {
    grid-template-columns: 1fr;
  }

  .summary-cards .card.balance {
    grid-column: span 1;
  }
}

